body {
    font-family: 'Montserrat', sans-serif;
}

#cuerpo {
    color:#fff;
    text-align: center;
    background-color: #1abc9c; 
    width: 100%; 
    height: 500px; 
    float: left; 
    padding: 100px 0 100px 0;

}

#menu {
    background: #f4f4f4;
}


